---
import "../styles/reset.css";
import "../styles/base.css";

import { Font } from "astro:assets";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pageTitle = Astro.url.pathname === "/" ? title : `${title} | Scott McCracken`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Scott McCracken" />
    <Font cssVariable="--font-sans" preload />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
