---
import "../styles/global.css";

import { Font } from "astro:assets";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pageTitle = Astro.url.pathname === "/" ? title : `${title} | Scott McCracken`;
---

<html lang="en" data-theme>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#FCFCFC" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#222222" />
    <Font cssVariable="--font-sans" preload />
    <link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg" />
    <link rel="icon" href="/favicon-light.png" type="image/png" media="(prefers-color-scheme: light)" />
    <link rel="icon" href="/favicon-dark.png" type="image/png" media="(prefers-color-scheme: dark)" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Scott McCracken" />
    <link rel="manifest" href="/manifest.json" />
    <script>
      import "../scripts/theme-toggle.js";
    </script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
